body
{
    background-color: darkslategrey;
    color: whitesmoke;
}

#rejestracja,
.add-invoice-panel
{
    margin-top: 50px;
    text-align: center;
}

#rejestracja > form,
.add-invoice-panel > form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rejestracja > form > input,
.add-invoice-panel > form > input
{
    margin: 10px;
}

#rejestracja > form > div > input,
.add-invoice-panel > form > div > input
{
    margin: 10px;
}

.error
{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
