body
{
    background-color: darkslategrey;
    color: whitesmoke;
}

#rejestracja
{
    margin-top: 50px;
    text-align: center;
}

#rejestracja > form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rejestracja > form > input
{
    margin: 10px;
}

#rejestracja > form > div > input
{
    margin: 10px;
}

.error
{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

#haslo
{
    visibility: hidden;
}

#podsumowanie
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#podsumowanie > p
{
    margin: 10px;
}

a
{
    margin-top: 40px;
    font-size: 20px;
    color: #ACE5D8;
}